SELECT 'orders' as table_name, count(*) FROM orders UNION SELECT 'product_detail', count(*) FROM product_detail UNION SELECT 'product', count(*) FROM product UNION SELECT 'payment', count(*) FROM payment UNION SELECT 'delivery', count(*) FROM delivery UNION SELECT 'refund', count(*) FROM refund;
