@charset "UTF-8";

body {
	font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	margin: 0;
	background-color: #fff;
	padding-top: 20px;
}

.login-logo {
  width: 120px;       /* 필요 시 크기 조절 */
  margin-bottom: 10px;
  opacity: 0.8;       /* 약간 투명하게 */
}

.login-container {
	margin-top : 0px;
	width: 350px;
	text-align: center;
}

h2 {
	margin-bottom: 20px;
	font-size: 15px;
}

label  {
	display: block;
	text-align: left;
	font-weight: bold;
	margin: 10px 0 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 14px;
}

input::placeholder {
	color: #aaa;
	transition: opacity 0.2s ease;
}

input:focus::placeholder {
	opacity: 0;
}

.btn {
	width: 100%;
	padding: 5px;
	background: black;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
}

.btn-group {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 30px; /* ✅ 여기에 하단 여백 추가 */
}

.btn-group .btn {
	flex: 1;
}

.hidden {
	display: none;
}