body {
	font-family: 'Malgun Gothic', sans-serif;
	padding-top: 120px;
}

.content2 {
	flex: 1;
	padding: 0 30px;
}

h3 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

.container {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 0;
}

.sidebar2 {
	position: fixed;
	top: 0;
	left: 80px;
	width: 180px;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sidebar2 ul {
	list-style: none;
	padding: 0;
}

.sidebar2 ul li a {
	display: block;
	margin-bottom: 20px;
	font-size: 15px;
	cursor: pointer;
	color: black;
	text-decoration: none;
	font-family: 'Malgun Gothic', sans-serif;
}

.sidebar2 ul li a:hover {
	color: #015FC1;
	font-weight: bold;
}

.content {
	flex: 1;
	padding: 0 30px;
}

h2 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

.notice-table td.views {
  text-align: right;
  padding-right: 30px;
  white-space: nowrap;
}

.notice-table td.date {
  width: 150px;
}

.notice-table td.title {
  width: 600px;
}

.notice-table {
	width: 100%;
	border-collapse: collapse;
}

.notice-table tr {
	border-bottom: 1px solid #BBBBBB;
}

.notice-table td {
	padding: 14px 10px;
	font-size: 14px;
}

.pagination {
	text-align: center;
	margin: 30px 0;
}

.pagination span {
	margin: 0 5px;
	cursor: pointer;
	font-size: 13px;
	color: #888;
}

.pagination .active {
	font-weight: bold;
	color: black;
}

.footer-bottom {
	text-align: center;
	margin-top: 20px;
	font-size: 12px;
	color: #FFFFFF;
}

.faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.faq-item .arrow {
    transition: transform 0.3s ease;
    font-size: 14px;
    color: #888;
}

.faq-item.active .arrow {
    transform: rotate(180deg); /* 아래 → 위 */
}

.faq-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2; /* 기존보다 조금 더 어둡게 */
    margin: 0 15px 15px 15px;  /* 좌우 여백 및 아래 마진 */
}

.faq-item.active + .faq-content {
    display: block;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: black;
}

.pagination a.active {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 4px;
}